body {
  background-color: #E5E5E5;
}
@media screen and (min-width: 0px) {
  .custom-width {
    width: 96% !important;
  }
}
@media screen and (min-width: 600px) {
  .custom-width {
    width: 620px !important;
  }
}
.page-enter-active, .page-leave-active {
  transition: opacity .1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
